bin/AndroidManifest.xml
bin/R.txt
bin/classes.dex
bin/classes/org/opencv/samples/facedetect/DeveloperKey.class
bin/classes/org/opencv/samples/facedetect/FdActivity$1.class
bin/classes/org/opencv/samples/facedetect/FdActivity$2.class
bin/classes/org/opencv/samples/facedetect/FdActivity.class
bin/classes/org/opencv/samples/facedetect/PlayerViewDemoActivity$1.class
bin/classes/org/opencv/samples/facedetect/PlayerViewDemoActivity$2.class
bin/classes/org/opencv/samples/facedetect/PlayerViewDemoActivity$3.class
bin/classes/org/opencv/samples/facedetect/PlayerViewDemoActivity$4.class
bin/classes/org/opencv/samples/facedetect/PlayerViewDemoActivity$5.class
bin/classes/org/opencv/samples/facedetect/PlayerViewDemoActivity.class
bin/classes/org/opencv/samples/facedetect/Playlist.class
bin/classes/org/opencv/samples/facedetect/R$id.class
bin/classes/org/opencv/samples/facedetect/R$layout.class
bin/classes/org/opencv/samples/facedetect/R$raw.class
bin/classes/org/opencv/samples/facedetect/R$string.class
bin/classes/org/opencv/samples/facedetect/R$style.class
bin/classes/org/opencv/samples/facedetect/R$styleable.class
bin/classes/org/opencv/samples/facedetect/R.class
bin/classes/org/opencv/samples/facedetect/ServerFetchAsyncTask$MyCallBack.class
bin/classes/org/opencv/samples/facedetect/ServerFetchAsyncTask.class
bin/classes/org/opencv/samples/facedetect/YouTubeFailureRecoveryActivity.class
bin/dexedLibs/annotations-9279436acf1f19f226b1254c78788a36.jar
bin/dexedLibs/opencv library - 2.4.5-73db6d74c685b20485551d0ccc7527b3.jar
bin/face-detection.apk
bin/resources.ap_
gen/org/opencv/samples/facedetect/R.java
project.properties
